.main-div{
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  font-family: "myfont";
  align-items: stretch;
  max-width: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);

}
.content{
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  overflow: auto;
  flex: 1;
    
}
@mixin form-height {
  max-height: 100%;
    
}

.search-form{
  height: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 10px;
  background-color: var(--search-background) ;
}

.search-form:focus-within {
  border: 1px solid rgb(29, 155, 240);
}
.search-form:focus-within .search-bttn {
  background-image: url("../images/search-blue.svg"); 
}
.search-bar{
  @include form-height;
  flex:1;
  border: 0;
  outline: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  font-weight: 0.1em;
  padding : .25em 1em ;
  background-color: var(--search-background);
  color: var(--text-primary);
    
}
.search-bttn{
  @include form-height;
  display: flex;
  align-items: stretch;
  border: 0;
  min-width: 4%;
  background-color: var(--search-background) ;
  border-top-left-radius: 10px;
  padding-top: .25em;
  padding-bottom: .25em;
  border-bottom-left-radius: 10px; 
  background-image: url("../images/search-grey.svg");
  background-size: 100% 75%;
  background-repeat: no-repeat;
  background-position: right;
}
.search-img{
  size: 100%;
  @include form-height
}

ul{
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important; 
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
}
ul li{
  border-bottom: 1px solid var(--border);
  padding: 0 1em 0 1em !important; 
}
ul li:first-child {
  border-top: 1px solid var(--border);
}
li:hover{
  background: var(--tweet-hover);
  cursor: pointer;
}


.tweet-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

}

.photo-grid{
    display: grid;
    // aspect-ratio: 1;
    grid-gap: .1em;
    margin: .7em 53.6px 1em 4.35em;
    // aspect-ratio: auto 1 /1;
    overflow: hidden;
    // padding: 1px;
    border-radius: 16px;
    border: var(--media-border);
    // width: 100%;
    max-height: 22em;
  }
  .photo-grid :nth-child(2) {
    grid-column-start: 2;
  }
  
  .photo-grid :nth-child(1):nth-last-child(3) {
    grid-row-start: span 2;
  }
  
  .tweet-img-container{
    overflow: hidden;
  }
  .tweet-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: transparent;
  }


.result-status{
  display: flex;
  justify-content: center;
  text-align: center;
  opacity: 0.5;
  color: var(--text-primary);
}
  

  