
$light-blue:rgb(29, 155, 240);
$dark-mode: #15202B;
// html, body {margin:0;padding:0;height:100%;} 
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: $dark-mode;
    padding: 1rem;
    font-size: large;
    font-family: 'Poppins', sans-serif;

}
@mixin name {
    line-height: 0.1rem;
    font-size: 0.7rem; 
}
.name-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    margin-top: 7px;
}
.username{
    @include name;
    font-weight: lighter;
   
}
.name{
    @include name;
    font-weight: bold;
   
}
.profile-div{
    max-width: 50% ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.profile-img{
    height: 3rem;
    border-radius: 50%;
}
.logout-bttn{
    border: none;
    border-radius: 9999px;
    padding: 0.5rem;
    font-size: small;
   

}
.logo{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-img{
    max-height: 4em;
}

